<footer>
    {{!-- <p>La información es obtenida de: https://weatherstack.com/ &#169;</p> --}}
    <p>La información es obtenida de: https://www.weatherapi.com/ &#169;</p>
    <p>Creado por{{autor}} {{fecha}}</p>
</footer>